@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$maincolor: #7f78fa;
$secondarycolor: #fddfe7;
$gray: #303030;
$mainfont: 'Montserrat', sans-serif;
$secondaryfont: 'Roboto', sans-serif;
$regular: 400;
$bold: 700;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin robotoText {
  font-family: $secondaryfont;
  font-size: 16px;
  line-height: 1.6;
}

@mixin robotoHeader {
  font-family: $secondaryfont;
  font-weight: $regular;
  font-size: 16px;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  color: $maincolor;
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-weight: $bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: $mainfont;
  color: $gray;
  margin: auto;
}

a {
  color: $gray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

// All main headings
.heading {
  text-transform: uppercase;
  background: $maincolor;
  padding: 3px 5px;
  display: inline-block;
  color: #fff;
  margin-bottom: 40px;
}

// All subheadings
.subheading {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: $maincolor;
  text-align: center;
}

// All fields/sections
.field {
  padding: 80px;
  width: 100%;
  @include flexCenter;
  flex-direction: column;
}

// And those with gray bg
.gray {
  background: #f4f4f4;
}

// Typography / text-coloring
.bold {
  font-weight: $bold;
}

.regular {
  font-weight: $regular;
}

.bold-italic {
  font-weight: $bold;
  font-style: italic;
}

.pink {
  color: #e8b3c2;
}

.underline {
  text-decoration: underline;
}

/* ----------------------------- HEADER -----------------------------  */

.header {
  width: 100%;
  height: 50vh;
  background-size: cover;
  display: flex;
  // Fallback-format för Safari som ej stödjer webp
  background-image: url(../images/header-image.webp),
    url(../images/header-image-3.png);
  background-image: -webkit-image-set(url(../images/header-image-3.png) 1x);
}

.header-wrapper {
  width: 60vw;
  margin: auto;
  display: flex;
  align-items: flex-start;
}

.introtext {
  width: 60vw;
  margin: 85px auto 0 auto;
  position: relative;
}

.introtext--name {
  font-family: $secondaryfont;
  font-weight: $regular;
  font-size: 18px;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.introtext--title {
  font-weight: $bold;
  font-size: 54px;
  text-transform: lowercase;
  color: #fff;
}

.introtext--subtitle {
  font-weight: $bold;
  font-size: 36px;
  color: #fff;
  margin-top: 10px;
}

.header--icons {
  @include flexCenter;
}

.icon {
  width: 45px;
  height: 45px;
  border: 2px solid $maincolor;
  border-radius: 50%;
  margin-left: 8px;
  @include flexCenter;
  cursor: pointer;
}

.icon:hover .icon--img {
  filter: grayscale(100%) brightness(0);
}

.icon:hover {
  border: 2px solid $gray;
}

.icon--img {
  width: 18px;
}

.intro--image {
  width: 200px;
  border-radius: 50%;
  border: 3px solid #fff;
  position: absolute;
  right: 19vw;
  top: 30vh;
}

/* ----------------------------- HELLO -----------------------------  */
.stroke {
  width: 45px;
  height: 2px;
  background: $maincolor;
  display: inline-block;
  margin-bottom: 5px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: $maincolor;
  display: inline-block;
}

.hello--img {
  width: 55px;
  margin-right: 15px;
}

.hello--text {
  width: 60vw;
  font-size: 20px;
  line-height: 1.6;
  font-weight: $regular;
  margin: auto;
}

/* ----------------------------- TECH -----------------------------  */

.tech--text {
  width: 60vw;
  font-size: 20px;
  line-height: 1.6;
  font-weight: $regular;
  margin: auto;
  text-align: center;
}

/* ----------------------------- FEATURED PR -----------------------------  */

.featured-projects--wrapper {
  max-width: 60vw;
  margin: 0 0 50px 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;

  a {
    color: $gray;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.featured--img--wrapper {
  position: relative;
}

.featured--img {
  width: 100%;
}

.featured--img--box {
  position: absolute;
  top: 0;
  background: rgba(2, 19, 113, 0.4);
  background-size: cover;
  width: 100%;
  height: 99%;
}

.featured--img--box:hover {
  background: rgba(2, 19, 113, 0);
  .featured--img--title {
    display: none;
  }
}

.featured--img--title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.featured--title {
  font-weight: $bold;
  letter-spacing: 0;
  color: $maincolor;
  text-transform: uppercase;
}

.featured--text {
  font-family: $secondaryfont;
  font-weight: $regular;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
  max-width: 50vw;
}

.codebox {
  padding: 6px 10px 5px 10px;
  margin: 8px 5px 0 0;
  background: #fddfe7;
  color: #2b2e34;
  display: inline-block;
  font-family: $secondaryfont;
  font-weight: $regular;
  font-size: 10px;
}

.featured--other-projects {
  margin-top: 40px;
  width: 60vw;

  a {
    color: $gray;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

/* ----------------------------- THOUGHTS -----------------------------  */

.thoughts {
  position: relative;
}

.thoughts--cover {
  position: absolute;
  width: 93%;
  height: 90%;
  background: $secondarycolor;
  opacity: 0.8;
  display: flex;
}

.thoughts--cover--text {
  font-size: 24px;
  width: 100%;
  text-align: center;
  align-self: center;
}

.thoughts--wrapper {
  max-width: 60vw;
  margin: 0 0 50px 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.thought--img {
  width: 100%;
  margin-bottom: 20px;
}

.thought--date,
.more-thoughts--date {
  font-family: $secondaryfont;
  font-weight: $regular;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  color: $maincolor;
  text-transform: uppercase;
}

.thought--header {
  font-family: $secondaryfont;
  font-size: 20px;
  line-height: 1.6;
}

.thought--text {
  @include robotoText;
  font-weight: $regular;
}

.more-thoughts--wrapper {
  @include robotoText;
  width: 60vw;
  display: none;
}

.more-thoughts--text {
  font-weight: $bold;
  margin: 0;
}

.thoughts--subhead {
  display: none;
}

/* ----------------------------- SKILLS -----------------------------  */

.skills--wrapper {
  display: flex;
  width: 60vw;
}

.skill {
  text-align: center;
  width: 33.3%;
}

.skill--header {
  @include robotoHeader;
  font-weight: $bold;
}

.space-top {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

.skill--text,
ul,
li {
  font-family: $secondaryfont;
  font-weight: $regular;
}

/* ----------------------------- FOR MORE -----------------------------  */

.for-more--wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.for-more--title {
  @include robotoHeader;
  font-weight: $bold;
}

.linkedin,
.github,
.portfolio {
  @include flexCenter;
  flex-direction: column;
  width: 180px;
}

.icon--gray {
  width: 80px;
  height: 80px;
  border: 2px solid $maincolor;
  border-radius: 50%;
  margin: 0 0 20px 0;
  @include flexCenter;
  cursor: pointer;
}

.for-more--link-wrapper:hover .icon--gray img {
  filter: grayscale(100%) brightness(0);
}

.for-more--link-wrapper:hover .icon--gray {
  border: 2px solid $gray;
}

.for-more--link-wrapper:hover .for-more--title {
  color: $gray;
}

.linkedin--img,
.github--img,
.portfolio--img {
  width: 25px;
}

.github {
  padding: 0 40px;
}

/* ----------------------------- CONTACT -----------------------------  */
.contact {
  background: $secondarycolor;
  color: $gray;
}

.contact--header {
  color: $gray;
}

.contact--info {
  padding: 5px;
  font-size: 18px;
  font-weight: $regular;

  .desktop,
  a {
    font-weight: $regular;
  }
}

.mobile {
  display: none;
}

/* ----------------------------- MEDIA QUERIES -----------------------------  */

@media (max-width: 800px) {
  .header {
    height: 70vh;
    background-position-x: center;
    background-size: auto;
  }

  .header-wrapper {
    margin: 100px auto;
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .introtext {
    margin: 10% 0px 30% 0;
  }

  .header--icons {
    align-self: flex-end;
  }

  .header-wrapper,
  .hello--text,
  .tech--text,
  .featured--other-projects,
  .more-thoughts--wrapper,
  .skills--wrapper {
    width: 80vw;
  }

  .header--icons--wrapper {
    align-self: flex-end;
  }

  .field {
    padding: 80px 0;
  }

  .featured-projects--wrapper,
  .thoughts--wrapper {
    max-width: 80vw;
    grid-template-columns: 1fr;
  }

  .intro--image {
    right: 8vw;
    top: 52vh;
    width: 180px;
  }

  .introtext--title {
    font-size: 48px;
  }

  .introtext--subtitle {
    font-size: 28px;
  }

  .bold {
    display: inline-block;
  }

  .skills--wrapper {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .skill {
    width: 50%;
  }

  .featured {
    margin-bottom: 20px;
  }
  .featured--text {
    max-width: unset;
  }

  .more {
    align-self: end;
    margin-top: -80px;
  }

  .for-more--wrapper {
    align-items: flex-start;
  }

  .linkedin,
  .github,
  .portfolio {
    width: 25vw;
    text-align: center;
  }

  .thought--2 {
    display: none;
  }

  .linkedin--img,
  .github--img,
  .portfolio--img img {
    width: 20px;
  }

  .icon--gray {
    width: 60px;
    height: 60px;
  }

  .for-more--title {
    font-size: 14px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media (max-width: 500px) {
  .introtext {
    margin: 10% 0 50% 0;
  }
}

@media (max-width: 400px) {
  .introtext {
    margin: 40px 0px 45% 0;
  }
}

// For the itsy-bitsy screens
@media (max-width: 350px) {
  .introtext {
    margin: 35px 0px 110px 0;
  }

  .introtext--name {
    font-size: 14px;
  }

  .introtext--title {
    font-size: 36px;
  }

  .introtext--subtitle {
    font-size: 22px;
  }

  .intro--image {
    top: 50vh;
    width: 150px;
  }

  .field {
    padding: 50px 0;
  }

  .heading {
    font-size: 20px;
  }

  .hello--text,
  .tech--text,
  .contact--info {
    font-size: 16px;
  }
}
