@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-weight: 700;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #303030;
  margin: auto;
}

a {
  color: #7f78fa;
}

a:hover {
  color: #303030;
}

.heading {
  text-transform: uppercase;
  background: #7f78fa;
  padding: 3px 5px;
  display: inline-block;
  color: #fff;
  margin-bottom: 40px;
}

.subheading {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #7f78fa;
  text-align: center;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  color: #7f78fa;
  margin-bottom: 10px;
}

.field {
  padding: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gray {
  background: #f4f4f4;
}

.bold {
  font-weight: 700;
}

.bold-italic {
  font-weight: 700;
  font-style: italic;
}

.pink {
  color: #e8b3c2;
}

.mobile {
  display: none;
}

/* ----------------------------- HEADER -----------------------------  */
.header {
  width: 100%;
  height: 50vh;
  background: url(../images/header-image.webp);
  background-size: cover;
  display: flex;
}

.header-wrapper {
  width: 60vw;
  margin: auto;
  display: flex;
  align-items: flex-start;
}

.introtext {
  width: 60vw;
  margin: 85px auto 0 auto;
  position: relative;
}

.introtext--name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.introtext--title {
  font-weight: 700;
  font-size: 54px;
  text-transform: lowercase;
  color: #fff;
}

.introtext--subtitle {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  margin-top: 10px;
}

.header--icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 45px;
  height: 45px;
  border: 2px solid #7f78fa;
  border-radius: 50%;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header--icons img {
  width: 18px;
}

.intro--image {
  width: 200px;
  border-radius: 50%;
  border: 3px solid #fff;
  position: absolute;
  right: 19vw;
  top: 30vh;
}

/* ----------------------------- HELLO -----------------------------  */
.stroke-circle--wrapper {
  display: inline;
}

.stroke-circle {
  display: flex;
  align-items: center;
}

.stroke {
  width: 45px;
  height: 2px;
  background: #7f78fa;
  display: inline-block;
  margin-bottom: 5px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #7f78fa;
  display: inline-block;
  margin-bottom: 1px;
}

.hello--img {
  width: 55px;
  margin-right: 15px;
}

.hello--text {
  width: 60vw;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  margin: auto;
}

/* ----------------------------- TECH -----------------------------  */
.tech--text {
  width: 60vw;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  margin: auto;
  text-align: center;
}

/* ----------------------------- FEATURED PR -----------------------------  */
.featured-projects--wrapper {
  max-width: 60vw;
  margin: 0 0 50px 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.featured--img--wrapper {
  position: relative;
}

.featured--img {
  width: 100%;
}

.featured--img--box {
  position: absolute;
  top: 0;
  background: rgba(2, 19, 113, 0.4);
  background-size: cover;
  width: 100%;
  height: 99%;
}

.featured--img--box:hover {
  background: rgba(2, 19, 113, 0);
}

.featured--img--box:hover .featured--img--title {
  display: none;
}

.featured--img--title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.featured--title {
  font-weight: 700;
  letter-spacing: 0;
  color: #7f78fa;
  text-transform: uppercase;
}

.featured--text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
}

.codebox {
  padding: 6px 10px 5px 10px;
  margin: 8px 5px 0 0;
  background: #fddfe7;
  color: #2b2e34;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.featured--other-projects {
  margin-top: 40px;
  width: 60vw;
}

/* ----------------------------- THOUGHTS -----------------------------  */
.thoughts--wrapper {
  max-width: 60vw;
  margin: 0 0 50px 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.thought--img {
  width: 100%;
  margin-bottom: 20px;
}

.thought--date,
.more-thoughts--date {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  color: #7f78fa;
  text-transform: uppercase;
}

.thought--header {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

.thought--text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
}

.more-thoughts--wrapper {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  width: 60vw;
}

.more-thoughts--text {
  font-weight: 700;
  margin: 0;
}

/* ----------------------------- SKILLS -----------------------------  */
.skills--wrapper {
  display: flex;
  width: 60vw;
}

.skill {
  text-align: center;
  width: 33.3%;
}

.skill--header {
  font-weight: 700;
}

.space-top {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

.skill--text,
ul,
li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* ----------------------------- FOR MORE -----------------------------  */
.for-more--wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.for-more--title {
  font-weight: 700;
}

.linkedin,
.github,
.stackoverflow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 180px;
}

.icon--gray {
  width: 80px;
  height: 80px;
  border: 2px solid #303030;
  border-radius: 50%;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.linkedin img,
.github img,
.stackoverflow img {
  width: 25px;
}

.github {
  padding: 0 40px;
}

/* ----------------------------- CONTACT -----------------------------  */
.contact {
  background: #fddfe7;
  color: #303030;
}

.contact--header {
  color: #303030;
}

.contact--info {
  padding: 5px;
  font-size: 18px;
  font-weight: 400;
}

.contact--info .desktop,
.contact--info a {
  font-weight: 400;
}

/* ----------------------------- MEDIA QUERIES -----------------------------  */
@media (max-width: 800px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .field {
    padding: 80px 0;
  }
  .header {
    height: 70vh;
    background-position-x: center;
  }
  .header-wrapper {
    margin: 100px auto;
  }
  .header-wrapper,
  .hello--text,
  .tech--text,
  .featured--other-projects,
  .more-thoughts--wrapper,
  .skills--wrapper {
    width: 80vw;
  }
  .featured-projects--wrapper,
  .thoughts--wrapper {
    max-width: 80vw;
    grid-template-columns: 1fr;
  }
  .intro--image {
    right: 8vw;
    top: 50vh;
  }
  .introtext--title {
    font-size: 48px;
  }
  .introtext--subtitle {
    font-size: 32;
  }
  .bold {
    display: inline-block;
  }
  .skills--wrapper {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .skill {
    width: 50%;
  }
  .featured {
    margin-bottom: 20px;
  }
  .more {
    align-self: end;
    margin-top: -80px;
  }
  .for-more--wrapper {
    align-items: flex-start;
  }
  .linkedin,
  .github,
  .stackoverflow {
    width: 25vw;
    text-align: center;
  }
  .thought--2 {
    display: none;
  }
}

@media (max-width: 400px) {
  .header-wrapper {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .introtext {
    margin: 100px 0 200px 0;
  }
  .header--icons {
    align-self: flex-end;
  }
  .intro--image {
    top: 52vh;
  }
  .linkedin img,
  .github img,
  .stackoverflow img {
    width: 20px;
  }
  .icon--gray {
    width: 60px;
    height: 60px;
  }
  .for-more--title {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */