@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$maincolor: #7f78fa;
$secondarycolor: #e8b3c2;
$gray: #303030;
$mainfont: 'Montserrat', sans-serif;
$secondaryfont: 'Roboto', sans-serif;

@mixin robotoText {
  font-family: $secondaryfont;
  font-size: 16px;
  line-height: 1.6;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: $mainfont;
  color: $gray;
  margin: auto;
}

a {
  color: $maincolor;
}

a:hover {
  color: $gray;
}

.heading {
  text-transform: uppercase;
  background: $maincolor;
  padding: 3px 5px;
  display: inline-block;
  color: #fff;
  margin-bottom: 40px;
}

.subheading {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: $maincolor;
}

h5 {
  font-family: $secondaryfont;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  color: $maincolor;
  margin-bottom: 10px;
}

.field {
  padding: 80px;
  width: 100%;
  @include flexCenter;
  flex-direction: column;
}

.gray {
  background: #f4f4f4;
}

.bold {
  font-weight: 700;
}

.bold-italic {
  font-weight: 700;
  font-style: italic;
}

.pink {
  color: #e8b3c2;
}

.mobile {
  display: none;
}

/* ----------------------------- HEADER -----------------------------  */

.header {
  width: 100%;
  height: 45vh;
  background: url(./images/header-image-3.png);
  background-size: cover;
  display: flex;
}

.header-wrapper {
  width: 60vw;
  margin: auto;
  display: flex;
  align-items: flex-start;
}

.introtext {
  width: 60vw;
  margin: 85px auto 0 auto;
  position: relative;
}

.introtext--name {
  font-family: $secondaryfont;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.introtext--title {
  font-weight: 700;
  font-size: 54px;
  text-transform: lowercase;
  color: #fff;
}

.introtext--subtitle {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  margin-top: 10px;
}

.header--icons {
  @include flexCenter;
}

.icon {
  width: 45px;
  height: 45px;
  border: 2px solid $maincolor;
  border-radius: 50%;
  margin-left: 8px;
  @include flexCenter;
  cursor: pointer;
}

.header--icons img {
  width: 18px;
}

.intro--image {
  width: 200px;
  border-radius: 50%;
  border: 3px solid #fff;
  position: absolute;
  right: 19vw;
  top: 26vh;
}

/* ----------------------------- HELLO -----------------------------  */

.hello--img {
  width: 55px;
  margin-right: 15px;
}

.hello--text {
  width: 60vw;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  margin: auto;
}

/* ----------------------------- TECH -----------------------------  */

.tech--text {
  width: 60vw;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  margin: auto;
  text-align: center;
}
/* ----------------------------- FEATURED PR -----------------------------  */

.featured-projects--wrapper {
  max-width: 60vw;
  margin: 0 0 50px 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.featured-1--img,
.featured-2--img {
  width: 100%;
}

.featured-1--img:hover,
.featured-2--img:hover {
  background: #021371 0% 0% no-repeat padding-box;
  opacity: 0.38;
  cursor: pointer;
}

.featured--title {
  font-weight: 700;
  letter-spacing: 0;
  color: $maincolor;
  text-transform: uppercase;
}

.featured--text {
  font-family: $secondaryfont;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
}

.codebox {
  padding: 6px 10px 5px 10px;
  margin-top: 8px;
  background: #fddfe7;
  color: #2b2e34;
  display: inline-block;
  font-family: $secondaryfont;
  font-weight: 400;
  font-size: 10px;
}

.other-projects--wrapper {
  width: 60vw;
}

/* ----------------------------- THOUGHTS -----------------------------  */

.thoughts--wrapper {
  max-width: 60vw;
  margin: 0 0 50px 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.thoughts--img {
  width: 100%;
  margin-bottom: 20px;
}

.thoughts--date,
.more-thoughts--date {
  font-family: $secondaryfont;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  color: $maincolor;
  text-transform: uppercase;
}

.thoughts--header {
  font-family: $secondaryfont;
  font-size: 20px;
  line-height: 1.6;
}

.thoughts--text {
  @include robotoText;
  font-weight: 400;
}

.more-thoughts--wrapper {
  @include robotoText;
  width: 60vw;
}

.more-thoughts--text {
  font-weight: 700;
  margin: 0;
}

/* ----------------------------- SKILLS -----------------------------  */

.skills--wrapper {
  display: flex;
  width: 60vw;
}

.skill {
  text-align: center;
  width: 33.3%;
}

.skill--header {
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

.skill--text,
ul,
li {
  font-family: $secondaryfont;
  font-weight: 400;
}

/* ----------------------------- FOR MORE -----------------------------  */

.for-more--wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 35vw;
}

.for-more--header {
  font-weight: 700;
}

.linkedin,
.github,
.stackoverflow {
  @include flexCenter;
  flex-direction: column;
}

.icon--red {
  width: 80px;
  height: 80px;
  border: 2px solid #303030;
  border-radius: 50%;
  margin: 0 0 20px 8px;
  @include flexCenter;
  cursor: pointer;
}

.linkedin img,
.github img,
.stackoverflow img {
  width: 25px;
}

.github {
  padding: 0 40px;
}

/* ----------------------------- CONTACT -----------------------------  */
.contact {
  background: $secondarycolor;
  color: $gray;
}

.contact--header {
  color: $gray;
}

.contact--info {
  padding: 5px;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 800px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
